<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp" class="bg-info">
    <div class="container">
      <div class="row">
        <h1><b>UF Directory App</b></h1>
      </div>
      <div class="row" ng-controller="ListingsController">
<!-- modal -->
<div class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-primary text-center"><b>UF Directory App</b></h2>
        </div>
        <div class="modal-body">
          <p class = "text-primary lead">Welcome to the University of Florida Directory Search App!<br><br>
            <span class="glyphicon glyphicon-minus"></span> Search any directory listing by name or building code.<br>
            <span class="glyphicon glyphicon-minus"></span> Click a listing for more info.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Give It A Try!</button>
        </div>
      </div>
    </div>
  </div>

  <!-- end modal -->

       <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchTerm">
          </div>
          <div class="tableWrapper">
            <table class="table table-bordered table-hover">
              <tr>
                <th>Code</th>
                <th>Building Name</th>

              </tr>

              <tr ng-repeat="building in listings | regex:['name','code']: this" ng-click="showDetails(building)">   
                <td role="button">{{ building.code }}</td>
                <td role="button">{{ building.name }}</td> 
              </tr>
              <!-- 

                  Fill in the rest of the table:
                      * populate the rows with the code and name of each listing
                      * include a way to remove individual listings

                --> 
            </table>
          </div>
          <!-- 

              Write an HTML form that adds new listings to the directory 

            -->
        </div>
        <div class="col-md-6">
          <div class="card">
            <h2 class ="text-center card-header">Detailed Information</h2>
            <div class="card-body">
              <ul class ="list-group">
            <li class ="list-group-item">Building Name   :  {{currentDetails.name || "Unknown"}}</li>
            <li class ="list-group-item">Building Code   :  {{currentDetails.code || "Unknown"}}</li>
            <li class ="list-group-item">Building Address:  {{currentDetails.address || "Unknown"}}</li>
            <li class ="list-group-item">Latitude        :  {{currentDetails.coordinates.latitude || "Unknown"}}</li>
            <li class ="list-group-item">Longitude       :  {{currentDetails.coordinates.longitude || "Unknown"}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
    <script type="text/javascript">
      $(document).on('ready',function(){
          $('.modal').modal('toggle');
      });
  </script>
  </body>
</html>