#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 600px;
  overflow: auto;
}

.card{
  min-height: 600px;
  color: black;
}

.tableWrapper{
  color: black;
}

h2{
  margin: 0px;
}
h1{
  color: black;
}